<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<div class="grid">
    <div class="card col-12">
        <h5>Banco</h5>

        <div class="grid">
            <div class="col-4">
                <campo-texto [(texto)]="afiliate.codigo"
                             [readOnly]="true"
                             [labelText]="'Código'">
                </campo-texto>
            </div>

            <div class="col-8">
            </div>

            <div class="col-12">
                <campo-texto [(texto)]="afiliate.name"
                             [labelText]="'Nome'">
                </campo-texto>
            </div>

            <div class="col-12">
                <campo-texto [(texto)]="afiliate.email"
                             [labelText]="'Email'">
                </campo-texto>
            </div>

            <div class="col-6">
                <campo-texto [(texto)]="afiliate.password"
                             [type]="'password'"
                             [labelText]="'Password'">
                </campo-texto>
            </div>

            <div class="col-6">
                <campo-texto [labelText]="'Comissão'"
                             [type]="'number'"
                             [step]="'0,1'"
                             [min]="'0'"
                             [pattern]="'\d+(\.\d{1})?'"
                             [(texto)]="afiliate.commission">
                </campo-texto>
            </div>
        </div>
    </div>

    <div class="col-12">
        <campo-toolbar>
            <ng-template #ladoEsquerdo>
                <campo-botao [label]="'Salvar'"
                             [icon]="'pi pi-save'"
                             (click)="salvar()">
                </campo-botao>
            </ng-template>

            <ng-template #ladoDireito>
                <campo-botao [label]="'Voltar'"
                             [styleClass]="'p-button-outlined p-button-danger'"
                             [icon]="'pi pi-arrow-left'"
                             (click)="voltar()">
                </campo-botao>
            </ng-template>
        </campo-toolbar>
    </div>
</div>
